html {
    scroll-behavior: smooth;
 } 
body {
    background-color: rgb(228, 228, 228);
    font-size: 100%;
    font-family: rockwell, serif;
    margin: 3px;
    display: block;
}
@font-face {
    font-family: 'Sprintura Demo';
    src: 
        url('../../font/Sprintura Demo.otf') format('opentype'),
        url('../../font/Sprintura-Demo.woff') format('woff'),
        url('../../font/Sprintura-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
hr{
    width: 87%;
    border: solid rgb(137, 137, 137) 1px;
}
.bio{
    color: rgb(71, 71, 71);
    font-family: serif;
}
#descp {
    color: rgb(65, 65, 65);
    font-size: 2vw;
    font-weight: 200;
}
#about {
    align-items: center;
    text-align: center;
}
header{
    box-shadow: rgba(0, 0, 0, 0.24) 0 4px 5px;
    margin-top: 74px;
    padding-bottom: 5px;
}
nav{
    background-color: #aeaeae;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(68, 68, 68);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
a{
    text-decoration: none;
    color: inherit;
}
#nom{
    margin-left: 1%;
    font-size: 33px;
    
}
.navbar ul {
    list-style-type: none;
    padding: 0%;
    overflow: hidden;
    border-radius: 10px;
    font-size: 17px;
}
.tete {
    text-decoration: none;
    color: rgb(185, 62, 0);
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-size: 17px;

}
.navbar li {
    float: left;
}
#presentation {
    line-height: 1.1;
    font-size: 4.4vw;
    font-weight: 650;
    color: #065106;
    display: block;
    text-align: center;
    margin-top: 4vw;
}
.imglogo{
    display: flex;
}
#logocontact1 ,#logocontact2{
    width: 2em;
    height: 2em;
    margin-right: 20px;
}
footer {
    display: block;
    text-align: center;
    height: 85px;
    border: solid black 1px;
    position: relative;
}
.univ {
    color: #ac5300;
}
#infoperso{
    width: 50%;
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    border: solid black 1px;
    margin-top: 12px;
}
@media screen and (max-width: 708px) {
    nav {
        display: flex;
        flex-direction: column;
        height: 18vw;
        box-sizing: border-box;
    }
    .navbar ul{
        margin: 0;
    }
    #nom{
        font-size: 7vw;
        display: block;
        margin: 0;
        margin-top: 8px;
    }
    .tete{
        margin: 0px;
        font-size: 3.4vw;
        padding: 3px;
    }
    .navbar li{
        margin: 0 8px 2px 8px;
    }
    header {
        margin-top: 19vw;
    }
    #descp {
        font-size: 4.6vw;
    }
    .ameth {
        font-size: 6.7vw;
    }
    #about {
        font-size: 3.5vw;
    }
}